@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.greyshadow{
    -webkit-box-shadow: 0px 0px 9px 4px ;
    -moz-box-shadow: 0px 0px 9px 4px;
    box-shadow: 0px 0px 9px 4px;
}

input[type="text"], input[type="password"], input[type="email"],input[type='number'],input[type="tel"], textarea{
    @apply w-[90%] col-span-2 md:col-span-1 border-b-2 my-2 py-2 bg-transparent  focus:outline-none
}


.carousel.carousel-slider .control-arrow{
    height: 90% !important;
}

.carousel .thumbs-wrapper{
    width: min-content !important;
    margin: 20px auto !important;
}

.carousel .thumbs{
    @apply !flex !justify-start sm:!justify-center !gap-2 md:!gap-4 md:mt-2 !animate-none !transition-none !translate-x-0 !transform-none
}

.thumb{
   @apply !h-9 md:!h-12 !max-w-fit !animate-none !transition-none !translate-x-0 !transform-none !mr-1 !border-none
}

.button {
    @apply cursor-pointer hover:shadow-lg active:scale-95
    transition transform duration-100 ease-out
}
.smbutton {
    @apply hover:shadow-lg active:scale-95
    transition transform duration-100 ease-out
}

.project-btn{
    @apply px-4 py-1.5 rounded-2xl font-semibold
}

.project-smallbtn{
    @apply px-2 py-1 text-xs rounded-2xl font-semibold
}

.RSPBprogressBar{
    height: 3px !important;
    background-color:white !important;
}

.react-multiple-carousel__arrow{
    z-index: 1 !important;
    min-width: 26px !important;
    min-height: 26px !important ;
}
.react-multiple-carousel__arrow::before{
    font-size: 12px !important;
}

.react-multi-carousel-dot-list{
    bottom: 4px !important;
}